.about-us {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.about-us p {
  font-family: 'TT Lakes Regular', sans-serif;
  font-weight: 200;
  color: #1B1C21;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;

}

.about-us__image {
  width: 100%;
}

/*#btn_open_text {display: none;}*/
#other_text_mobile {display: none;}
#btn_close_text {display: none;}

.text-block-about-us__bottom-open,
.text-block-about-us__bottom-close {
  margin: 15px 0 20px 15px;
}
.text-block-about-us__bottom-open-icon {
  margin-right: 16px;
}

//.text-block-about-us__text {
//  height: 140px !important;
//  overflow-y: hidden;
//}

.text-block-about-us__text-tablet,
.text-block-about-us__text-computer,
.text-block-about-us__text-all {
  display: none;
}


/*________________for tablets__________________*/

@media screen and (min-width: 768px) {
  .about-us {
    flex-direction: row;
    margin-top: 16px;
    align-items: flex-start;
    padding-bottom: 30px;
    justify-content: space-between;

  }

  .about-us p {
    margin-top: 0;
    margin-left: 20px;
  }

  .about-us__bottom-close,
  .about-us__bottom-open {
    margin-top: 10px;
  }

  .about-us__image {
    align-self: start;
    margin-right: 25px;
    margin-left: 30px;
    border-radius: 5px;
    width: 360px;
  }

  .text-block-about-us__text {
    font-size: 14px;
    width: 342px;
    //height: 160px !important;
    //overflow-y: hidden;
  }

  .text-block-about-us__text-tablet {
    display: inline;  //??????? mb block
  }

  .text-block-about-us__text-computer,
  .text-block-about-us__text-all {
    display: none;
  }

  .text-block-about-us__bottom-close,
  .text-block-about-us__bottom-open {
    margin-left: 36px;
  }
}


/*________________for computers__________________*/
@media screen and (min-width: 1120px) {
  .about-us {
    margin-left: 14px;
    padding-bottom: 40px;
  }

  .about-us__image {
    align-self: self-start;
    margin-right: 40px;
    border-radius: 5px;
    width: 500px;
  }

  .text-block-about-us__text {
    line-height: 20px;
    //height: 155px !important;
    width: 530px;
    //overflow-y: hidden;
  }

  .text-block-about-us__text-computer {
    display: inline;
  }

  .text-block-about-us__text-all {
    display: none;
  }

  .text-block-about-us__bottom_open,
  .text-block-about-us__bottom_close {
    margin-left: 40px;
  }
}
