.brands {
  width: 100%;
  max-height: 234px;
  margin: 0;
  padding: 0;
}

.brands__title {
  font-family: 'TT Lakes Regular', sans-serif;
  font-weight: 200;
  color: $color-additional-text;
  font-size: 16px;
  padding: 16px;
  text-transform: uppercase;
  background: linear-gradient(to right, $color-main-background, $color-additional-background);
}

.brands__swiper {
  height: 134px;
}

.brands__swiper-wrapper {
  display: flex;
  margin: 0 16px 0 16px;
}

.brand-card {
  max-width: 240px;
  height: 72px;
  /*width: auto; !*ширина слайдера*!*/
}

.brands-swiper-container-paginator {
  position: relative;
  bottom: 1em; /* расстояние от swiper */
}

.brands__swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  background-color: $color-circle-paginator;
}

.brands__btn-show-more {
  display: none;
}

.brands__btn-close {
  display: none;
}

/* __________for block in whole file__________*/
.button-show-more {
  font-family: 'TT Lakes Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: transparent;
  text-align: left;
}

.brand-card {
  box-sizing: border-box;
  display: flex;
  background: $color-additional-background;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  border-radius: 6px;
  border: 1px $color-border solid;
  padding: 16px;
}


/*________________for tablets__________________*/

@media screen and (min-width: 768px) {
  .brands {
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0 0 15px 0;
    margin: 0;
  }

  .brands__title {
    padding-left: 36px;
  }

  .brands__swiper {
    height: 145px;
    padding: 15px 0;
  }

  .brands__swiper-wrapper {
    width: 94%;
    padding-left: 16px;
    padding-right: 26px;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    display: grid;
    grid-gap: 10px;
  }

  .brand-card {
    width: 224px;
  }

  .brands-swiper-pagination {
    display: none;
  }

  .brands__btn-close,
  .brands__btn-show-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 20px 28px;
  }

  .brands__btn-show-more-icon {
    margin-right: 16px;
  }

  .brands__btn-close-icon {
    transform: rotate(180deg);
    margin-right: 16px;
  }

  .brands__btn-close {
    display: none;
  }
}


/*________________for computers__________________*/
@media screen and (min-width: 1440px) {
  .brands {
    padding: 0 0 15px 0;
    margin: 0;
  }

  .brands__swiper {
    padding: 15px 0;
  }

  .brands__swiper-wrapper {
    padding-left: 30px;
    padding-right: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    display: grid;
    grid-gap: 15px;
  }

  .brand-card {
    width: 240px;
  }

  .brands__btn-close,
  .brands__btn-show-more {
    margin-left: 42px;
  }
}


/*________________for computers__________________*/
@media screen and (min-width: 1932px) {
  .brands__btn-close,
  .brands__btn-show-more {
    display: none !important;
  }
}
