.callback {
  box-sizing: border-box;
  position: absolute;
  box-shadow: 5px 0 25px 0 $color-additional-text;
  top: 0;
  right: 0;
  z-index: 11;
  height: 100%;
  flex-direction: column;
  background-color: $color-additional-background;
  padding: 10px 32px;
  display: none;
}

.callback-close {
  position: static;
  align-self: flex-start;
  padding: 0 0 10px 0;
  margin: 0;
}

.callback-line {
  position: absolute;
  top: 58px;
  left: 0;
}

.callback-title {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: 24px;
  color: $color-main-text;
  padding: 0;
  margin: 0;
}

.callback-forms {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.callback-forms__form {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  margin: 5px 0;
  font-size: 16px;
  font-family: "TT Lakes Regular", sans-serif;
  color: $color-main-text;
  border: 1px $color-border solid;
  border-radius: 6px;
}

.callback-forms__info {
  font-family: "TT Lakes Regular", sans-serif;
  font-size: 14px;
  color: $color-additional-text;
}
.callback-info_pink {
  color: $color-pink;
}

.callback-forms__send {
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .callback {
    width: 440px;
    padding: 40px 32px;
  }

  .callback-close {
    position: absolute;
    left: -64px;
    top: 32px
  }

  .callback-line {
    position: absolute;
    top: 32px;
    left: 0;
  }
}
