$color-main-background: #F8F8F8;
$color-additional-background: #FFFFFF;
$color-main-text: #1B1C21;
$color-additional-text: #7E7E82;
$color-green-element: #41F6D7;
$color-border: #EAEAEA;
$color-circle-paginator: #B5B6BC;




