.footer-copyright {
  margin: 0;
  padding: 0;
  background-color: $color-main-background;
}

.footer-copyright-text {
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  font-family: "TT Lakes Regular", sans-serif;
  font-size: 14px;
  color: $color-additional-text;
}
