.main-menu {
  /*display: flex;*/
  /*vertical-align: center;*/
  padding: 24px 0 268px 0;
}

.main__line {
  margin-top: -6px;
}

.main-menu__ul-menu {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-menu__link {
  text-decoration: none;
  color: #1B1C21;
}

.ul-menu__li {
  margin: 0 0 32px 24px;
  transition: 0.3s;
}

.ul-menu__li:hover {
  transform: translateX(25px);
}

.ul-menu__li:hover .ul-menu__link{
  color: #7E7E82;
}

.ul-menu__li:hover .ul-menu__link::before {
  content: '';
  position: absolute;
  border-color: #41F6D7;
  border-style: solid;
  border-width: 2px;
  border-radius: 0 4px 4px 0;
  height: 32px;
  top: -5px;
  left: -49px;
  width: 0;
}

.ul-menu__li_active {
  color: #7E7E82;
}
