.menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-shadow: -5px 0 25px 0 $color-main-text;
  background-color: $color-additional-background;
  z-index: 10;
  display: none;
}

/*________________for tablets__________________*/
@media screen and (min-width: 768px) {
  .menu {
    max-width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: -5px 0 25px 0 $color-circle-paginator;
    background-color: $color-additional-background;
    z-index: 10;
    display: none;
  }
}

/*________________for computers__________________*/
@media screen and (min-width: 1440px) {
  .menu {
    display: inline;
    position: relative;
    box-shadow: none;
    left: 0;
  }
}
