.service-prices {
  width: 100%;
  margin: 0;
  padding: 0;
}

.service-prices__title {
  font-family: 'TT Lakes Regular', sans-serif;
  font-weight: 200;
  color: $color-additional-text;
  font-size: 16px;
  padding: 16px;
  text-transform: uppercase;
  background: linear-gradient(to right, $color-main-background, $color-additional-background);
}

.service-prices-titles {
  display: none;
}

.service-prices-swiper {
  height: 250px;
}

.service-prices-swiper-wrapper {
  display: flex;
  margin: 0 16px 0 16px;
}

.service-prices-card {
  box-sizing: border-box;
  background: $color-additional-background;
  border: 1px $color-border solid;
  padding: 0 16px;
  border-radius: 6px;
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-prices-card-text {
  font-family: 'TT Lakes Regular', sans-serif;
  color: $color-main-text;
  font-size: 14px;
}

.service-prices-card-title {
  color: $color-additional-text;
  display: block;
}

.service-prices-line {
  display: none;
}

.service-prices-card-block {
  padding: 0;
  margin: 0;
}

.service-prices-card__link {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.service-prices-swiper-container-paginator {
  position: relative;
  bottom: 0.3em; /* расстояние от swiper */
}

.service-prices-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  background-color: $color-circle-paginator;
}

.service-prices__info-text {
  margin: 0;
  padding: 0 16px;
  font-family: "TT Lakes Regular", sans-serif;
  font-size: 14px;
  color: $color-main-text;
}

.service-prices__button {
  margin: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-prices__button-text {
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  color: $color-main-text;
}


/*________________for tablets__________________*/

@media screen and (min-width: 768px) {
  .service-prices__title {
    padding-left: 36px;
  }

  .service-prices-titles {
    display: grid;
    width: 90%;
    grid-template-columns: 3.8fr 1fr 1fr 1.2fr;
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 14px;
    color: $color-additional-text;
    margin: 16px 30px;
    padding: 0 16px;

  }

  .service-prices-swiper {
    height: 324px;
    padding-bottom: 16px;
  }

  .service-prices-swiper-wrapper {
    flex-direction: column;
    background-color: $color-additional-background;
    border-radius: 6px;
    border: 1px $color-border solid;
    width: 93%;
    margin: 0 30px;
  }

  .service-prices-line {
    display: block;
    height: 1px;
    background-color: $color-border;
    margin: 0 16px;
    padding: 0;
  }

  .service-prices-card {
    height: 64px;
    width: 100%;
    display: grid;
    grid-template-columns: 3.8fr 1fr 1fr 1.2fr;
    border: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .service-prices-card-block {
    padding: 10px 0;
  }

  .service-prices-card-title {
    display: none;
  }

  .service-prices__info-text, {
    padding: 16px 30px;
    width: 420px;
  }

  .service-prices__button {
    padding: 0 30px;
  }
}




