.title-before-navigator {
  display: flex;
  align-items: center;
}

.title-before-navigator__line {
  margin-right: 12px;
}

.title-before-navigator__h1 {
  font-family: 'TT Lakes Bold', sans-serif;
  /*font-family: "TT Lakes-Bold", "TT Lakes", sans-serif;*/
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}



/*________________for tablets__________________*/

@media screen and (min-width: 768px) {
  .title-before-navigator__h1 {
    margin-left: 20px;
  }
}


/*________________for computers__________________*/
@media screen and (min-width: 1120px) {
  .title-before-navigator__h1 {
    margin-left: 32px;
  }
}
