@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Regular.woff2') format('woff2'),
  url('../fonts/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes-Regular.ttf') format('truetype'),
  url('../fonts/TTLakes-Regular.svg#TTLakes-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
