@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.eot');
  src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Bold.woff2') format('woff2'),
  url('../fonts/TTLakes-Bold.woff') format('woff'),
  url('../fonts/TTLakes-Bold.ttf') format('truetype'),
  url('../fonts/TTLakes-Bold.svg#TTLakes-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
