@import "~normalize.css";
@import "_about-us.scss";
@import "_brands.scss";
@import "_header.scss";
@import "_navigator.scss";
@import "_title-before-navigator.scss";
@import "_TTLakesBold.scss";
@import "_TTLakesRegular.scss";
@import "_TTLakesMedium.scss";
$bgColor: #24292e;
$text: #fff;


.main {
  background-color: #F8F8F8;
}

