@import "~normalize.css";
@import "_colors.scss";
@import "_about-us.scss";
@import "_brands.scss";
@import "_header.scss";
@import "_navigator.scss";
@import "_title-before-navigator.scss";
@import "_TTLakesBold.scss";
@import "_TTLakesRegular.scss";
@import "_TTLakesMedium.scss";
@import "_menu.scss";
@import "_header-menu.scss";
@import "_main-menu.scss";
@import "_footer-menu.scss";
@import "_body.scss";
@import "_devices.scss";
@import "_service-price.scss";
@import "_footer-copyright.scss";


.main {
  background-color: $color-main-background;
}

@media screen and (min-width: 1440px) {
  .body .main-content {
    width: 80% !important;
  }

  .body .menu {
    width: 20% !important;
  }

}

